﻿* {
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
}

img, fieldset {
    border: 0;
}

li {
    list-style: none;
}

address, em {
    font-style: normal;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

p, h1, h2, h3, h4, h5, h6, form, input, ul, li, dl, dt, dd {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

    a img {
        vertical-align: middle;
    }

.font_ar {
    font-family: font89189;
}

@font-face {
    font-family: '인터';
    src: url('../font/Interparkgothicmedium.eot');
    src: local(※), url('../font/Interparkgothicmedium.woff') format('woff');
}

.inter_m {
    font-family: 'InterparkGothicMedium','인터파크','인터';
}

@font-face {
    font-family: inter_l;
    src: url(../font/InterparkGothicLight.eot);
    src: local(※), url(../font/InterparkGothicLight.woff);
}

.inter_l {
    font-family: 'InterparkGothicLight','인터파크',inter_l;
}

@font-face {
    font-family: sq_b;
    src: url(../font/NanumSquareB.eot);
    src: local(※), url(../font/NanumSquareB.woff);
}

body {
    font-family: 'NanumSquare','나눔스퀘어',sq_b;
    width: 100%;
    height: 100%;
    font-weight: bold;
}

@font-face {
    font-family: sq_eb;
    src: url(../font/NanumSquareEB.eot);
    src: local(※), url(../font/NanumSquareEB.woff);
}

.sq_eb {
    font-family: 'NanumSquare','나눔스퀘어',sq_eb;
    font-weight: bolder;
}

body>.menu_btn {
    position: fixed;
    top: 40px;
    right: 38px;
    opacity:0;
    z-index:99;
}
/* 숨김 메뉴 시작*/
#top{
    width:100%;
    position:fixed;
    background:#3565af;
    height:300px;
    z-index:999;
    padding-top:38px;
    display:none;
}
#top .logo{
    float:left;
    margin-right:100px;
}
#top ul{
    float:left;
    border-left:1px solid white;
    padding-left:30px;
    height:180px;
}
#top li{
    line-height:36px;
    font-size:20px;
}
#top li a{
    color:white;
}
#hidden_sns{
    margin-left:100px;
}
#top_right{
    float:right;
    margin-right:87px;
}
#top_right div{
    float:left;
}
#login{font-size:18px;
       line-height:47px;
       text-align:center;
       border:1px solid white;
       width:83px;
       margin-right:38px;
       margin-top:-5px;
}
#login a{color:white;}

/* common */
.mtb20 {margin:20px 0 20px 0}
.ml10 {margin-left:10px}
#left{
    width:250px;
    position:absolute;
    background:#fff;
    height:100%;
    z-index:15;
    padding-top:0;
    border-left:1px solid #e1e1e1;border-right:1px solid #e1e1e1;
    box-sizing:border-box
}
#left2 {
    width:212px;
    position:absolute;
    background:#fff;
    height:100%;
    z-index:15;
    padding-top:0;
    border-left:1px solid #e1e1e1;border-right:1px solid #e1e1e1;
    box-sizing:border-box
}
.menu_btn2 {position:absolute;left:0;top:0;width:60px;height:100%;background:#ddd;padding-top:400px}
#close2 {position:absolute;top:0;left:200px;width:60px;height:100%;padding-top:400px;z-index:19}
#close3 {position:absolute;top:0;left:200px;width:60px;height:50px;margin-top:400px;z-index:19}

/* footer 시작*/
footer{
    width:100%;
    overflow:hidden;
    background:#363636;
    padding:15px 0;
}
footer #footer_sns{
    width:134px;
    margin:0 auto;
    height:26px;
}
#footer_sns li{
    width:26px;
    height:26px;
    margin-right:10px;
    float:left;
   
    position:relative;
    text-indent:-9999px;
}
#footer_sns .sns_out{
    width:26px;
    height:26px;
     background-image:url('../images/index/sns.png');
}
#footer_sns li:last-child{
    margin-right:0;
}

#footer_sns li:nth-child(2) .sns_out{
    background-position:0 -36px;
}
#footer_sns li:nth-child(3) .sns_out{
    background-position:0 -72px;
}
#footer_sns li:nth-child(4) .sns_out{
    background-position:0 -108px;
}
#footer_sns .sns_over{
    position:absolute;
    top:0;
    left:0;
    background-position-x:-36px;
    background-image:url(../images/index/sns.png);
    width:26px;
    height:26px;
    display:none;
}
#footer_sns li:nth-child(2) .sns_over{
    background-position:-36px -36px;
}
#footer_sns li:nth-child(3) .sns_over{
    background-position:-36px -72px;
}
#footer_sns li:nth-child(4) .sns_over{
    background-position:-36px -108px;
}
#footer_logo{
    text-align:center;
    margin-top:16px;
    margin-bottom:10px;
}
footer p{
    text-align:center;
    font-size:12px;
    color:#ccc;
}



.clear {clear:both;content:"";display:block}