﻿/* main01 시작*/
#main_01 {
    background: url('../images/index/bg.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    position: relative;
}

    #main_01 header {
        width: 100%;
        padding-top: 40px;
        height: 38px;
        overflow: hidden;
    }

.logo {
    float: left;
    margin-left: 38px;
}

#header_right {
    float: right;
    margin-right: 38px;
}

    #header_right ul, #header_right .menu_btn {
        float: left;
        display:block;
    }

    #header_right li {
        float: left;
        line-height: 38px;
        margin: 0 17px;
    }

    #header_right a {
        color: white;
        font-size: 22px;
    }

    #header_right ul {
        margin-right: 17px;
    }

    #header_right .menu_btn {
        width: 44px;
        height: 35px;
        padding-top: 2px;
        position: relative;
    }

#main01_title {
    font-size: 70px;
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 10%;
    line-height: 105px;
}

#main01_text {
    font-size: 35px;
    color: white;
    text-align: center;
    width: 100%;
    margin-top: 2%;
    line-height: 65px;
    margin-bottom: 5%;
}

.go_btn {
    width: 300px;
    height: 65px;
    position: relative;
    margin: 0 auto;
}

    .go_btn .go_over {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
    }

#main_01_arrow {
    position: absolute;
    bottom: 3%;
    left: 50%;
    margin-left: -31px;
}



/* main02 시작 */
#main02 {
    background: url(../images/index/bg02.jpg);
    background-position: center;
    background-size: cover;
    height: 430px;
}

#main02_text {
    max-width: 1260px;
    margin: 0 auto;
    padding-top: 78px;
    margin-bottom: 60px;
    overflow: hidden;
}

    #main02_text .font_ar {
        font-size: 50px;
        line-height: 80px;
        color: white;
        float: left;
        width: 50%;
        text-align: center;
    }

    #main02_text #main02_right {
        width: 50%;
        float: left;
        text-align: left;
    }

#main02_right p {
    line-height: 40px;
    color: white;
    font-size: 25px;
}

    #main02_right p:first-child {
        margin-top: 10px;
    }

    #main02_right p:last-child {
        margin-top: 17px;
    }

/* main03 시작 */
#main03 {
    background: url(../images/index/bg03.jpg);
    background-position: center;
    background-size: cover;
    height: 430px;
    width: 100%;
}

#main03_text {
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 96px;
    margin-bottom: 50px;
    overflow: hidden;
}

    #main03_text li {
        width: 25%;
        float: left;
        text-align: center;
        color: white;
    }

    #main03_text .num {
        font-size: 100px;
        line-height: 103px;
    }

    #main03_text .text {
        font-size: 30px;
        line-height: 49px;
    }
/*main 04 시작*/
#main04 {
    width: 100%;
    overflow: hidden;
}

#texter {
    max-width: 1145px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 60px;
}

.main04_title {
    font-size: 45px;
    line-height: 73px;
    color: #333;
    text-align: center;
}

.main04_text {
    font-size: 20px;
    color: #333;
    line-height: 44px;
    text-align: center;
}

#beta {
    width: 100%;
    margin-top: 65px;
    height: 187px;
    position: relative;
}

.arrow {
    width: 50px;
    height: 50px;
    background-image: url('../images/index/test_arrow.png');
    text-indent: -9999px;
    position: absolute;
    top: 68px;
}

.arrow_over {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../images/index/test_arrow.png');
    background-position-x: -60px;
    width: 50px;
    height: 50px;
    display: none;
}

#arrow_right {
    background-position-y: -60px;
    right: 0;
}

    #arrow_right .arrow_over {
        background-position-y: -60px;
    }

#beta_img {
    width: 100%;
    box-sizing: border-box;
    height: 187px;
    overflow: hidden;
    padding: 0 82.5px;
}

    #beta_img div {
        width: 100%;
        overflow: hidden;
    }

    #beta_img ul {
        width: 1480px;
        position: relative;
        height: 187px;
    }

    #beta_img li {
        float: left;
        width: 235px;
        margin-right: 14px;
        height: 100%;
        background: black;
        color: white;
    }

        #beta_img li:last-child {
            margin-right: 0;
        }

#startup {
    margin-top: 165px;
}

    #startup ul {
        max-width: 870px;
        overflow: hidden;
        margin: 0 auto;
        margin-top: 35px;
    }

    #startup li {
        width: 22%;
        margin-right: 4%;
        float: left;
        height: 140px;
        margin-bottom: 20px;
        background: black;
    }

        #startup li:nth-child(4n) {
            margin-right: 0;
        }

#star_btn {
    margin: 0 auto;
    margin-top: 43px;
    width: 132px;
    overflow: hidden;
    margin-bottom: 80px;
}


