﻿/* 서브페이지 공통 탑*/
#sub_top {
    background: url('../images/index/bg.jpg');
    background-position:center -300px;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 500px;
    position: relative;
}

    #sub_top header {
        width: 100%;
        padding-top: 40px;
        height: 38px;
        overflow: hidden;
    }

.logo {
    float: left;
    margin-left: 38px;
}

#header_right {
    float: right;
    margin-right: 38px;
}

    #header_right ul, #header_right .menu_btn {
        float: left;
        display:block;
    }

    #header_right li {
        float: left;
        line-height: 38px;
        margin: 0 17px;
    }

    #header_right a {
        color: white;
        font-size: 22px;
    }

    #header_right ul {
        margin-right: 17px;
    }

    #header_right .menu_btn {
        width: 44px;
        height: 35px;
        padding-top: 2px;
        position: relative;
    }

#sub_title {
    font-size: 60px;
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 135px;
    line-height: 105px;
}

#sub_text {
    font-size: 30px;
    color: white;
    text-align: center;
    width: 100%;
    margin-top: 2%;
    line-height: 65px;
    margin-bottom: 5%;
}

.go_btn {
    width: 300px;
    height: 65px;
    position: relative;
    margin: 0 auto;
}

    .go_btn .go_over {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
    }

#main_01_arrow {
    position: absolute;
    bottom: 3%;
    left: 50%;
    margin-left: -31px;
}


/*   20170414 */
.accordion { list-style-type: none; padding: 0; margin: 0 0 30px; border: 1px solid #17a; border-top: none; border-left: none; }
.accordion li { cursor: pointer; list-style-type: none; padding: 0; margin: 0; float: left; display: block; width: 100%;border-bottom:1px solid #e1e1e1}
.accordion ul { padding:0; margin: 0; float: left; display: block; width: 100%;border-top:1px solid #e1e1e1 }
.accordion ul li { text-indent:20px;background:#fafafa }

.accordion li a { color:#333;padding-left:28px; font-weight:normal}
.accordion li a span {text-indent:-9999px;
                      background:url('../images/sub/menu_more.png');
                      width:18px;
                      height:18px;
                      float:right;
                      margin-right:20px;
                      margin-top:18px;}
.accordion li.active { background:#3565af}
.accordion li.active>a { color:#fff;padding-left:28px; }
.accordion li.active>a span {text-indent:-9999px;
                      background:url('../images/sub/menu_more.png') -36px 20px;
                      width:18px;
                      height:22px;
                      float:right;
                      margin-right:20px;
                      margin-top:18px;}
.accordion li div { padding: 20px; background: #aef; display: block; clear: both; float: left; width: 360px;}


/* 본문 상단 acc */
.accordion_top { list-style-type: none; padding: 0; margin:0; border-top: none; border-left: none; z-index:808;font-size:16pt;font-weight:normal}
.accordion_top li {cursor:pointer;list-style-type:none; padding:0; margin:0; float:left; display:block; width:250px;height:58px;line-height:58px;box-sizing:border-box}
.accordion_top ul { padding:0; margin: 0; float: left; display: block; width: 100%;border-top:1px solid #e1e1e1 }
.accordion_top ul li { text-indent:20px;background:#fafafa;height:58px;line-height:58px;border-left:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1}

.accordion_top li a { color:#333;padding-left:28px; font-weight:normal}
.accordion_top li a span {text-indent:-9999px;
                      background:url('../images/sub/menu_more.png');
                      width:18px;
                      height:18px;
                      float:right;
                      margin-right:20px;
                      margin-top:18px;}
.accordion_top li.active { background:#3565af}
.accordion_top li.active>a { color:#fff;padding-left:28px;line-height:58px; font-size:16pt;font-weight:normal }
.accordion_top li.active>a span {text-indent:-9999px;
                      background:url('../images/sub/menu_more.png') -36px 20px;
                      width:18px;
                      height:22px;
                      float:right;
                      margin-right:20px;
                      margin-top:18px;}
.accordion_top li div { padding: 20px; background: #aef; display: block; clear: both; float: left; width: 360px;}







/* tab */
.lefttab_menu{float:left;width:212px;}

.tabs {
  width: 100%;
  float: none;
  list-style: none;
  position: relative;
  margin: 0;
  text-align: left;
}
.tabs li {
  float: left;
  display: block;
  height:80px;
  border-bottom:1px solid #e1e1e1
}
.tabs input[type="radio"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.tabs label {
  width:105px;
  height:64px;
  padding-top:16px;
  text-align:center;
  display: block;
  border-radius: 0;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  background: #fafafa;
  cursor: pointer;
  position: relative;
  top:0;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-bottom:1px solid #e1e1e1
}
.tabs label:hover {
  background: #fff;
}
.tabs .tab-content {
  z-index: 2;
  
  overflow: hidden;
  width: 100%;
  font-size: 17px;
  padding: 0;
  position: absolute;

  left: 0;
  background:#fff
}


.tabs [id^="tab"]:checked + label {
  top: 0;
  padding:16px 0 0 0;
  background: #3565af;
  color:#fff;
  border-bottom:1px solid #3565af
}
.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}

p.link {
  clear: both;
  margin: 380px 0 0 15px;
}
p.link a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #3565af;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
p.link a:hover {
  background-color: #522764;
}



















/* 참가기업 페이지 시작 */
#contents{
    position:relative;
    width:1145px;
    overflow:hidden;
    margin:0 auto;
    padding-bottom:80px
}
/* 왼쪽 메뉴 시작 */
/*
#business_menu{
    float:left;
    width:250px;
    border-left:1px solid #e1e1e1;
    border-right:1px solid #e1e1e1;
    padding-bottom:500px;
}
#business_menu #sub_logo{
    background:#3565af;
    width:100%;
    height:80px;
    text-align:center;
    padding-top:21px;
    box-sizing:border-box;
     border-bottom:1px solid #e1e1e1;
}
#business_menu div, .business_sub li{
    height:56px;
    width:100%;
    border-bottom:1px solid #e1e1e1;
    line-height:56px;
    font-size:20px;
    box-sizing:border-box;
}
*/
.business_menu {float:none;position:relative;width:250px}
.business_menu #sub_logo{
    background:#3565af;
    width:100%;
    height:80px;
    text-align:center;
    padding-top:21px;
    box-sizing:border-box;
     border-bottom:1px solid #e1e1e1;
}
.business_menu div, .business_sub li{
    height:56px;
    width:100%;
    border-bottom:1px solid #e1e1e1;
    line-height:56px;
    font-size:20px;
    box-sizing:border-box;
}
/*
.business_menu div{
    padding-left:28px;
}
*./
.business_menu p{
    float:left;
    color:#333;
}
.business_menu .menu_more{
    text-indent:-9999px;
    background:url('../images/sub/menu_more.png');
    width:18px;
    height:18px;
    float:right;
    margin-right:20px;
    margin-top:18px;
}
.business_sub li{
    text-indent:40px;
}
.business_sub li a{
    color:#666;
}
.business_sub{
    width:100%;
    overflow:hidden;
    height:0;
}
#business_menu .business_btn{
    width:25px;
    height:44px;
    margin-top:45px;
    background:url('../images/sub/business_btn.png');
    text-indent:-9999px;
    border-bottom:none;
    float:right;
    margin-right:18px;
}

/* 참가기업 회사 소개 내용 시작 */
#business_contents{
    padding:0;
    margin-top:80px;
    width:866px;
    float:right;
    overflow:hidden;
}
#business_contents #business_info{
    float:left;
    width:490px;
    overflow:hidden;
}
#company_info01{
    width:100%;
    overflow:hidden;
}
#company_info01>div{
    float:left;
}
#company_logo{
    width:190px;
    height:135px;
    border:1px solid #e1e1e1;
    text-align:center;
    padding-top:26px;
    box-sizing:border-box;
}
#company_sns{
    width:190px;
    margin-top:25px;
    height:35px;
}
#company_sns li{
    float:left;
    width:35px;
    height:35px;
    margin-right:4px;
    text-indent:-9999px;
    background:url('../images/sub/sub_sns.png');
}
#company_sns li:nth-child(2){
    background-position-x:-45px;
}
#company_sns li:nth-child(3){
    margin-right:3px;
    background-position-x:-90px;
}
#company_sns li:nth-child(4){
    background-position-x:-135px;
}
#company_sns li:last-child{
    margin-right:0;
    background-position-x:-180px;
}
#company_info01 #company_video{
    height:195px;
    float:right;
    width:270px;
    background:black;
}
#company_info02{
    width:100%;
    overflow:hidden;
    margin-top:75px;
}
#company_info02 li{
    width:240px;
    height:190px;
    float:left;
    position:relative;
    overflow:hidden;
}
#company_info02 li:nth-child(2n+1){
    margin-right:10px;
}
#company_info02 li:nth-child(1),#company_info02 li:nth-child(2){
    margin-bottom:10px;
}
#company_info02 .info02_out{
    background:#ebebeb;
    border:1px solid #d7d7d7;
    width:100%;
    height:100%;
    box-sizing:border-box;
    text-align:center;
    padding-top:30px;
    font-size:18px;
    color:#151213;
}
.info02_out .inter_l{
    margin-top:20px;
}
#company_info02 .info02_over{
    opacity:0;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background:#3565af;
    text-align:center;
    color:white;
    padding-top:35px;
}
.info02_over p{
    line-height:30px;
}


/* 페이스북 땡겨오는 부분 시작*/
#business_contents #business_facebook{
    float:right;
    width:350px;
    height:660px;
    background:blue;
}

/* showcase */
#showcase_contents {margin-top:0;width:866px;float:right;height:880px}
.box_190x135 {position:relative;width:190px;height:135px;box-sizing:border-box;border:1px solid #e1e1e1;background:#0a0000}



/* */
.jsc-sidebar {
  position: relative;
  float:left;
  top: 0;
  left: 0;
  width: 212px;
  height: 800px;
  }

.jsc-sidebar-content {
  position: relative;
  top: 0;
  left: 0;
  min-height: 100%;
  z-index: 10;
  background-color: white; }

.jsc-sidebar-pulled {
  -webkit-transition: -webkit-transform 0.5s ease;
  -moz-transition: -moz-transform 0.5s ease;
  -ms-transition: -ms-transform 0.5s ease;
  -o-transition: -o-transform 0.5s ease;
  transition: transform 0.5s ease;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000; }

.jsc-sidebar-pushed {
  -webkit-transform: translate3d(220px, 0, 0);
  -moz-transform: translate3d(220px, 0, 0);
  -ms-transform: translate3d(220px, 0, 0);
  -o-transform: translate3d(220px, 0, 0);
  transform: translate3d(220px, 0, 0); }

.jsc-sidebar-scroll-disabled {
  /* position: fixed; */
   }
