﻿/* 서브페이지 공통 탑*/
#sub_top {
    background: url('../images/index/bg.jpg');
    background-position:center -300px;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 500px;
    position: relative;
}

    #sub_top header {
        width: 100%;
        padding-top: 40px;
        height: 38px;
        overflow: hidden;
    }

.logo {
    float: left;
    margin-left: 38px;
}

#header_right {
    float: right;
    margin-right: 38px;
}

    #header_right ul, #header_right .menu_btn {
        float: left;
        display:block;
    }

    #header_right li {
        float: left;
        line-height: 38px;
        margin: 0 17px;
    }

    #header_right a {
        color: white;
        font-size: 22px;
    }

    #header_right ul {
        margin-right: 17px;
    }

    #header_right .menu_btn {
        width: 44px;
        height: 35px;
        padding-top: 2px;
        position: relative;
    }

#sub_title {
    font-size: 60px;
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 135px;
    line-height: 105px;
}

#sub_text {
    font-size: 30px;
    color: white;
    text-align: center;
    width: 100%;
    margin-top: 2%;
    line-height: 65px;
    margin-bottom: 5%;
}

.go_btn {
    width: 300px;
    height: 65px;
    position: relative;
    margin: 0 auto;
}

    .go_btn .go_over {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
    }

#main_01_arrow {
    position: absolute;
    bottom: 3%;
    left: 50%;
    margin-left: -31px;
}


/* 회원가입 페이지 시작*/
#join{
    max-width:488px;
    margin:0 auto;
    padding-bottom:80px
}

#join span {width:30%;float:left;text-align:center;margin:20px auto;box-sizing:border-box}
#join span a{color:#333}


#join p.inter_m{
    font-size:45px;
    color:#333;
    text-align:center;
    padding-top:65px;
    line-height:75px;
    margin-bottom:80px;
}
#join form{
    width:100%;
    overflow:hidden;
}
#join form div{
    border:2px solid #3565af;
    width:100%;
    box-sizing:border-box;
    padding:5px 0;
    overflow:hidden;
    margin-bottom:20px;
}
#join form label{
    font-size:15px;
    color:#999;
    line-height:35px;
     padding-left:20px;
}
#join form input{
    border:none;
   margin-left:20px;
   line-height:35px;
}
#join form #inter_check{
    border:none;
    padding:0 20px;
}
#join #inter_check input{
    margin-left:0;
}
#inter_check li{
    float:left;
    width:20%;
    margin:5px 0;
}
#inter_check span,#agree span{
    color:#999;
    font-size:15px;
    vertical-align:top;
    padding-left:14px;
}
#agree{
    margin-top:45px;
}
form #agree div{
    border:none;
    margin-bottom:10px;
    padding-bottom:0;
}
#join form button{
    width:100%;
    height:50px;
    margin-top:50px;
    background:#3565af;
    margin-bottom:125px;
    color:white;
    font-size:15px;
}

/*베타 페이지 시작 */
#beta{
    max-width:934px;
    margin:0 auto;
    overflow:hidden;
    padding-top:80px;
}
/* 베타 기업 정보 시작 */
#beta_01,#beta_02{
    width:100%;
    overflow:hidden;
}
#beta_01>div{
    width:50%;
    float:left;
}
#beta_company>div{
    width:320px;
    overflow:hidden;
}
#beta_company>div:first-child{
    height:220px;
    border:1px solid #ccc;
    box-sizing:border-box;
}
#company_btn{
    text-align:center;
    margin:32px 0;
}
#beta_company_info>div{
    height:40px;
}
#beta_company_info span{
    font-size:16px;
    color:#3565af;
    width:26%;
    line-height:40px;
    display:block;
    float:left;

}
#beta_company_info .company_info{
    color:#333;
    width:74%;
}
/* 베타 모집 정보 시작 */
#beta_info #info_title{
    font-size:40px;
    color:#333;
}
#beta_date{
    margin-top:40px;
    overflow:hidden;
}
#beta_date span{
    font-size:16px;
    color:#333;
    line-height:40px;
}
#beta_price{
    width:100%;
    overflow:hidden;
    margin-top:20px;
}
#beta_price_in{
    width:100%;
    overflow:hidden;
    border:1px solid #ccc;
    box-sizing:border-box;
     padding:25px 33px;
}
#beta_price span{
    color:#333;
    font-size:20px;
    line-height:40px;
    display:block;
    float:left;
}
#beta_price p{
    width:100%;
    overflow:hidden;
}
#beta_price span:nth-child(2){
    float:right;
}
#beta_price span.price{
    width:100%;
    float:initial;
}

#beta_plus{
    width:100%;
    overflow:hidden;
    margin-top:28px;
    height:42px;
}
#beta_plus p{
    float:left;
    width:initial;
    margin-left:45%;
}
#beta_plus span{
    float:left;
}
#beta_plus button{
    float:right;
}
#beta_02{
    width:100%;
    margin-top:75px;
    border:1px solid #ccc;
    padding-top:27px;
     margin-bottom:86px;
     height:0;
     overflow:hidden;
     box-sizing:border-box;
     padding:0;
}
#beta_02>div{
    width:600px;
    overflow:hidden;
    margin:0 auto;
}
#beta_02>div>div{
    width:280px;
    border:2px solid #3565af;
    float:left;
    overflow:hidden;
    padding:10px 20px;
    margin:9px 0;
    box-sizing:border-box;
}
#beta_02>div>div:nth-child(2n){
    float:right;
}
#beta_02 label{
    line-height:26px;
    color:#999;
}
#beta_02 input{
    height:26px;
    margin-left:10px;
    border:none;
}
#beta_02 #beta_add{
    width:100%;
    text-align:center;
    border:none;
   
}
#beta_add a{
    color:#333;
}

/* */

.login_box {}
.join_btn_box {text-align:center;height:50px;border:none;background:#cccccc;line-height:50px}
.facebook_btn {text-align:center;height:50px;border:none;background:#3d62b2;line-height:50px;margin-bottom:34px}
.face_btn {color:#fff;font-family:'InterparkGothicMedium','인터파크','인터'}
.join_btn {color:#333;font-family:'InterparkGothicMedium','인터파크','인터'}